{% extends 'base.html' %}
{% load static %}

{% block cambio %}

<div class="container4">
    <div class="content-section4">
        <p class="lead mb-0"><b>About me</b></p>
        <p class="lead mb-0"><b>Lopez, Francisco Lucas</b></p>
        <p>Hi! My name is Lucas and I live in Ushuaia, the southest city of the world. I am an industrial engineer and I am currently working at DXC as a scrum Master/Project manager</p>
        <p>Since I really enjoy doing trekking in my city, I decided to create a blog about this</p>
    </div>
    <div class="image-section2">
        <img src="{% static 'Trekking/aboutme.png' %}" alt="" style="height: 220px">
    </div>
</div>
{% endblock %}