{% extends 'base.html' %}

{% block cambio %}

<div class="mydiv">
    <form action="/app/searchStudent" method="GET">

        {{form.as_p}}

        <input type="submit" value="Search" class="btn btn-primary">

    </form>
    {%for student in students %}
    <h2>{{student.surname}}, {{student.name}}</h2>
            <p class="lead mb-0"> 
            <p/>
        <h6> El mail del estudiante {{student.name}}, {{student.surname}} es {{student.email}}<h6/>
        
    {% endfor %}
    {% endblock %}

</div>