<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        
        <a class="navbar-brand" href="/app/courses/">Courses</a>
        <a class="navbar-brand" href="/app/course">Create course</a>
        <a class="navbar-brand" href="/app/showProfessors">Professors</a>
        <a class="navbar-brand" href="/app/createProfessor">Create professor</a>
        <a class="navbar-brand" href="/app/showStudents">Students</a>
        <a class="navbar-brand" href="/app/createStudent">Create Students</a>
        <a class="btn btn-primary" href="#signup">{{name}}</a>
    </div>
</nav>